<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/user.jpg" alt="" class="img-thumbnail img-circle" width="200">
            <h1 class="display-4">Nendi</h1>
            <p class="lead">Junior Developer</p>
        </div>
    </div>
</div>